#card{
    background-image: url("http://cdn.shopify.com/s/files/1/0153/0623/products/Marble_White-Gold_556_Wall_Mural_by_KEK_Amsterdam.jpg?v=1571712201");
}

.house{
    width: 1000px;
    padding-left: 250px;
    padding-top: 150px;
    padding-bottom: 100px;
    padding-right: 100px;
}

#title{
    font-family: 'Rancho', cursive;
    font-size: 30px;
    line-height: 0px;
    color: darkgoldenrod;
}

#hw{
    font-family: 'Cookie', cursive;
    font-size: 100px;
    line-height: 0px;
    color: darkgoldenrod;
}

.host{
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
    line-height: 5px;
    color: darkgoldenrod;
}

#details{
    background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v335-nunoon-17-pinecone_2.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=a146defbb6f49f021aebd64db7f98350")
}

#message{
    padding-left: 450px;
    padding-right: 450px;
    padding-bottom: 100px;
    font-family: 'Rancho', cursive;
    font-size: 30px;
}

#message2{
    text-align: center;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
}

#trans{
    width: 700px;
    border-style: inset;
    border-color: darkgoldenrod;
    border-width: 10px;
}

#the{
    text-align: center;
    font-family: 'Rancho', cursive;
    font-size: 50px;
}

mark {
  background-color: yellow;
}

#gif{
    background-image: url("https://s3.envato.com/files/196033239/preview.jpg");
        text-align: center;
}
